pandas
numpy
matplotlib
scikit-learn
yfinance
ta

torch
torchvision
torchaudio

transformers
accelerate
sentencepiece
scipy

streamlit
plotly

supabase
python-dotenv
psycopg2-binary

requests
python-telegram-bot

newsapi-python

tqdm
joblib