pandas
numpy
matplotlib
scikit-learn
yfinance
pandas-ta

torch
torchvision
torchaudio

transformers
accelerate
sentencepiece

streamlit
plotly

fastapi
uvicorn

supabase
python-dotenv
psycopg2-binary

requests
python-telegram-bot

tqdm
joblib
scipy